@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --mainColor: #b2e6fc; 
    --mainColor2: #4fa5c98a; 
    --mainColor3: #ff6600; 
    --mainColor4: #6a848f; 
    --mainColor5: #4e9eff; 
    --mainColor6: #ff274b; 
    --secondaryColor: #f7bcf7;
    --lightColor: #fff;
    --backGroundColor-1: #171a1c;
    --backGroundColor-2: #22282a;
    --color1: #D16BA5;
    --color2: #fc67fa;
    --color3: #f4c4f3;
    --color4: #5FFBF1;
    --color5: #051937;
    --color6: #e35d5b;
    --color7: #e53935;
    --color8: #4e9;
    --padding: 75px 200px;
}
* {
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
/* عناصر يتم استخدامها بكثره */
section {
    padding: var(--padding);
    width: 100%;
    min-height: 100vh;
}
.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.cards{
    display: flex;
    flex-direction: column;
}

.tittle {
    display: flex;
    justify-content: center;
    color: #287de5;
    font-weight: 2.2em;
    font-size: 800;
    margin: 30px;
    
}
/* عناصر يتم استخدامها بكثره */

/* Start Navigation bar */
header {
    background-color: #000000fd;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo {
    text-decoration: none;
    font-size: 1.5em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--mainColor);

}

header nav a {
    color: var(--mainColor);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    padding-left: 30px;
    transition: 0.7s;
}
header nav a:hover {
    color: var(--mainColor2);
    letter-spacing: 1px;
}
/* End Navigation bar */

/* Start Main Section */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background: url(../imags/backgrund.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2 {
    color:var(--mainColor);
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span {
    color: var(--mainColor5);
    font-size: 2em;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
}
.main h3 {
    color: var(--mainColor); 
    font-size: 1.2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.projects-btn {
    color: var(--lightColor);
    background-color: #287de585;
    display: inline-block;
    padding: 20px;
    margin-bottom: 40px;
    text-decoration: none;
    font-size: large;
    font-weight: 700;
    border-radius: 15px;
    letter-spacing: 1px;
    transition: 0.7s ease;
}
.projects-btn:hover {
    background-color: #287de5;
    letter-spacing: 3px;
    transform: scale(1.1);
}
.main .social-icons  {
    display: inline-block;
}
.main .social-icons a {
    color: #fff;
    font-size: 1.7rem;
    padding-right: 30px;
    transition: 0.5s ease;
}
.main .social-icons a:hover {
    color: var(--mainColor5);
    font-size: 2rem;
}
/* End Main Section */

/* Start Services Section */
.card {
    background-color: var(--lightColor);
    width: 30%;
    box-shadow: 0 5px 25px rgba(1 1 1/15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    text-align: center;

}
.card:hover {
    transform: scale(1.1);
}
.card .icon{
    color: var(--mainColor5);
    font-size: 8em;
    text-align: center;
}
/* End Services Section */
/* Start Project's Section */
.projects {
    background-color: #000016;
}
.projects .content {
    margin-top: 30px;
}
.projects .content .project-card{
    background-color: #fff;
    border: 1px solid #fff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.project-card:hover {
    transform: scale(1.1);
}
.project-card:hover .project-image {
    opacity: 0.9;
}
.projects .project-image img {
    width: 100%;
}
.projects .project-info {
    padding: 1em;
}
.project-category {
    font-size: 0.8em;
    color: #000;
}
.project-tittle {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.more-details {
    text-decoration: none;
    color:var(--mainColor5) ;
}
.more-details:hover {
    color: #601cfc;
}
/* End Project's Section */